<!-- Modal Container -->
<div id="modal-container" class="fixed inset-0 z-50 hidden">
  <!-- Overlay -->
  <div class="modal-overlay fixed inset-0 bg-black bg-opacity-50 transition-opacity duration-300 opacity-0"></div>
  
  <!-- Modal -->
  <div class="modal fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-full md:max-w-[calc(100%-4rem)] xl:max-w-[800px] bg-white md:rounded-2xl p-6 transition-all duration-300 opacity-0 scale-95 max-h-[100vh] md:max-h-[calc(90vh-4rem)] overflow-y-auto h-full">
    <!-- Close Button -->
    <button class="modal-close absolute top-4 right-4 text-gray-400 hover:text-gray-600">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    
    <!-- Dynamic Content Container -->
    <div class="modal-content"></div>
  </div>
</div> 