</div> <!-- Закрытие обертки основного контента -->
<footer class="bg-brand-gray text-brand-white py-12">
  <div class="container mx-auto px-4 max-w-[1200px]">
    <!-- Мобильный футер -->
    <div class="md:hidden flex flex-col items-start space-y-8">




      <div class="flex flex-col w-full gap-y-10">
        <img src="./src/img/layout/Logotype_aerline_white.png" alt="Aeroline" class="h-12 mb-4 object-contain object-left">
        <nav class="w-full">
          <div class="grid grid-cols-2 gap-y-6 gap-x-0">
            <a href="/" class="caps-regular block">Главная</a>
            <a href="/news.html" class="caps-regular block">Новости</a>
            <a href="/services.html" class="caps-regular block">Услуги</a>
            <a href="/vacancies.html" class="caps-regular block">Вакансии</a>
            <a href="/payments.html" class="caps-regular block">Платежи</a>
            <a href="/contacts.html" class="caps-regular block">Контакты</a>
          </div>
          <div class="mt-20 md:mt-0">
            <a href="/order-tracking.html" class="caps-regular block mb-3">Отслеживание заказа</a>
            <a href="/helper.html" class="caps-regular block mb-3">Страница «Помощник»</a>
            <a href="/login.html" class="caps-regular block">Войти в личный кабинет</a>
          </div>
        </nav>


        <div class="flex flex-col items-stretch gap-y-2">
          <div class="flex items-center space-x-4 my-6">
            <a href="https://t.me/aeroline" class="text-white">
              <img src="./src/img/icons/logos_telegram.svg" alt="Telegram" class="h-8 w-8">
            </a>

            <a href="https://wa.me/83912050025" class="text-white">
              <img src="./src/img/icons/logos_whatsapp-icon.svg" alt="WhatsApp" class="h-8 w-8">
            </a>
          </div>
          <a href="mailto:mail@aeroline.su" class="body-secondary flex items-center mb-2">
            <img src="./src/img/icons/messages3_white.svg" alt="Email" class="h-6 w-6 mr-2">
            mail@aeroline.su
          </a>
          <a href="tel:83912050025" class="body-secondary flex items-center mb-8">
            <img src="./src/img/icons/callcalling_white.svg" alt="Phone" class="h-6 w-6 mr-2">
            8 391 205 00 25
          </a>
        </div>
      </div>



      <div class="w-full d-flex justify-between flex-row flex-nowrap">
        <p class="caption-regular text-white/50 mb-2 d-inline w-1/2">@2025</p>
        <a href="/privacy.html" class="caption-regular text-white/50 d-inline w-1/2">Политика конфиденциальности</a>
      </div>
    </div>

    <!-- Десктопный футер -->
    <div class="hidden md:flex justify-between">
      <div class="flex flex-col items-start">
        <img src="./src/img/layout/Logotype_aerline_white.png" alt="Aeroline" class="h-11 mb-8">
        <p class="caption-regular text-white/50">@2025</p>
        <a href="/privacy.html" class="caption-regular text-white/50">Политика конфиденциальности</a>
      </div>

      <div class="flex flex-col">
        <a href="mailto:mail@aeroline.su" class="caption-regular flex items-center mb-3">
          <img src="./src/img/icons/messages3_white.svg" alt="Email" class="h-6 w-6 mr-2">
          mail@aeroline.su
        </a>
        <a href="tel:83912050025" class="caption-regular flex items-center mb-4">
          <img src="./src/img/icons/callcalling_white.svg" alt="Phone" class="h-6 w-6 mr-2">
          8 391 205 00 25
        </a>
        <div class="flex items-center space-x-3">
          <a href="https://t.me/aeroline" class="text-white">
            <img src="./src/img/icons/logos_telegram.svg" alt="Telegram" class="h-8 w-8">
          </a>
          <a href="https://wa.me/83912050025" class="text-white">
            <img src="./src/img/icons/logos_whatsapp-icon.svg" alt="WhatsApp" class="h-8 w-8">
          </a>
        </div>
      </div>

      <div class="flex space-x-16">
        <div class="flex flex-col space-y-3">
          <a href="/" class="caps-regular">Главная</a>
          <a href="/services.html" class="caps-regular">Услуги</a>
          <a href="/payments.html" class="caps-regular">Платежи</a>
        </div>
        <div class="flex flex-col space-y-3">
          <a href="/news.html" class="caps-regular">Новости</a>
          <a href="/vacancies.html" class="caps-regular">Вакансии</a>
          <a href="/contacts.html" class="caps-regular">Контакты</a>
        </div>
      </div>

      <div class="flex flex-col space-y-3">
        <a href="/order-tracking.html" class="caps-regular">Отслеживание заказа</a>
        <a href="/helper.html" class="caps-regular">Страница «Помощник»</a>
        <a href="/login.html" class="caps-regular">Войти в личный кабинет</a>
      </div>
    </div>
  </div>
</footer>

<script type="module" src="/main.js"></script>
</body>

</html>