
.vue-form-field[data-v-0afd1d68] {
    padding-right: 2.5rem;
    width: 100%;
    border-width: 1px;
    border-radius: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
}
.base-form-error[data-v-0afd1d68] {
    color: #ef4444;
    /* red-500 */
    font-size: 0.875rem;
    /* text-sm */
    margin-top: 0.25rem;
    /* mt-1 */
}
