
.vue-form-field[data-v-004bddb6] {
  padding-right: 2.5rem;
}

.alert-success[data-v-3bde0a66] {

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgb(187 247 208 / var(--tw-border-opacity, 1));

    --tw-bg-opacity: 1;

    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));

    --tw-text-opacity: 1;

    color: rgb(21 128 61 / var(--tw-text-opacity, 1))
}
.alert-error[data-v-3bde0a66] {

    border-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgb(254 202 202 / var(--tw-border-opacity, 1));

    --tw-bg-opacity: 1;

    background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));

    --tw-text-opacity: 1;

    color: rgb(185 28 28 / var(--tw-text-opacity, 1))
}
