
/* Дополнительные стили, если нужны */
.news-card .news-content[data-v-a6fc0037] {
  line-clamp: 4;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Дополнительные стили, если нужны */

/* Дополнительные стили, если нужны */

/* Дополнительные стили, если нужны */
